html, body {
    height: 100%;
}

h1 {
    text-align: center;
}

header {
    height: 15%;
}
main {
    height: 77%;
}
footer {
    height: 10%;
    text-align: center;
    margin: 20px;
}

nav {
align-items: center;
text-align: center;
}
nav * {
    padding: 10px;
}

#theFormDiv {
width: 50%;
}

img {
    width: 100px;
}